body {
  margin: 0;
  padding: 1em;
  font-family: $font-family-sans-serif;
  background-color: $cv-white;
  color: $cv-main;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.fa {
  margin-right: 0.5em;
}

.introduction__detail {
  li span {
    font-weight: bold;
  }
}

.cv {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.card {
  border: 1px solid $cv-main;
  margin-bottom: 0.5em;
  padding: 0.5em;

  &__title {
    font: {
      size: 1.1em;
      weight: bold;
    }

    margin-bottom: 0.35em;
  }

  &__company {
    margin-bottom: 0.5em;
  }

  &__date {
    font-size: 0.75em;
  }
}
